body, html {
    background-color: black;
    color:white;
}

.navbar {
    display: flex;
    margin: 0;
}

.logo-push {
    margin-right: auto;
}

.row {
    justify-content: center;
}

.col {
    margin: 25px;
}

.card {
    color: black;
}

.card-img-top {
    justify-content: center;
}

.container-card-image {
    margin-bottom: 25px;
}

.container-carousel {
    margin-bottom: 20px;
}

footer {
    margin-top: 30px;
    color:black;
}

.bg-dark {
    background-color: black;
}