/********************************************************************** 
*                          GENERAL STUFF 
**********************************************************************/
html {
    margin: auto 0;
}

body {
    background-color: black;
}

.zone {
    cursor:pointer;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.placeholder {
    color: black;
}

/********************************************************************** 
*                           NAVIGATION 
**********************************************************************/

.navbar {
    display: flex;
    margin: 0;
    color: white;
    background-color: black;
}

/********************************************************************** 
*                               COVER 
**********************************************************************/

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.cover {
    width: 30rem;
}

/********************************************************************** 
*                            PROJECT GRID 
**********************************************************************/

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.box {
    margin: 20px;
}

.box > img {
    width: 100%;
}

.card-title {
    font-size: 2em;
    /* color: black; */
}

.card-text {
    /* color: black; */
}

/********************************************************************** 
*                            TESTIMONIALS 
**********************************************************************/

.d-block {
    max-width: 90%;
}

/********************************************************************** 
*                            PRICING 
**********************************************************************/

.pricing-table {
    height: 100%;
    padding: 4px;
    width: 100%;
    color: white;
  }
  
  .flex-container {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .pricing-table-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit,minmax(312px,312px));
    -ms-grid-columns: (minmax(312px,312px))[auto-fit];
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    justify-self: start;
    width: 100%;
    gap: 8px;
  }
  
  .price-column {
    display: flex;
    justify-content: flex-start;
    border-radius: 12px;
    color: #fff;
    padding: 30px 32px 24px;
    width: 312px;
  }

  
  .price-column-text-and-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 32px;
  }
  
  .price-column-about-the-product {
    display: flex;
    justify-content: flex-start;
  }
  
  .price-column-price-container-height-aligner {
    display: flex;
    justify-content: flex-start;
    height: 115px;
    margin-bottom: 20px;
  }

  .button {
    line-height: 1.15;
    background-color: rgb(248, 199, 41);
    border-color: rgb(248, 199, 41);
    text-align: center;
    margin-bottom: 25px;
  }

  .button:hover {
    background-color: rgba(248, 200, 41, 0.917);
  }

  .button-lg {
    padding: 12px 24px;
  }

  .price-column-button {
    border-radius: 22px;
    height: 44px;
    width: 100%;
    color: black;
    justify-content: center;
    align-items: center;
  }

  .button-text {
    font-weight: 500;
  }
  
  .price-column-name {
    margin-bottom: 12px;
  }
  
  .price-column-name-text {
    font-size: 20px;
    font-weight: 500;
  }
  
  .price-column-description {
    height: 100px;
    opacity: .7;
    font-size: 14px;
  }
  
  .price-column-price {
    margin-right: 4px;
  }
  
  .price-column-price-text {
    font-size:36px;
    font-weight: 700;
    margin-right: 5px;
  }
  
  .price-column-interval {
    opacity:.7;
  }
  
  .price-column-interval-text {
    font-size: 13px;
    opacity: .7;
    line-height: normal;
  }
  
  .price-column-about-the-product, .price-column-content, .price-column-feature-list-container, .price-and-button {
    width: 100%;
  }
  
  .price-column-feature-list-header {
    margin-bottom: 10px;
  }
  
  .price-column-feature-list {
    padding: none;
    line-height: 2.5;
  }
  
  .price-column-check-container {
    margin-right: 15px;
  }
  
  hr {
    opacity: 1;
    color: #febf04;
    width: 50%;
    border-width: 5px;
  }

/********************************************************************** 
*                               FOOTER
**********************************************************************/

footer {
    display:flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************
*  Yellow Background
**********************************************************************/
.yellow{
    border-radius: 15px;
    background: #d6a94d; /* Old browsers */
    background: -moz-linear-gradient(top, #d6a94d 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6a94d), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6a94d 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6a94d 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6a94d 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #d6a94d 0%,#febf04 100%); /* W3C */
}