/********************************************************************** 
*                          GENERAL STUFF 
**********************************************************************/
html {
    margin: auto 0;
}

body {
    background-color: black;
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.placeholder {
    color: black;
}

/********************************************************************** 
*                           NAVIGATION 
**********************************************************************/

.navbar {
    display: flex;
    margin: 0;
    color: white;
    background-color: black;
}

/********************************************************************** 
*                               COVER 
**********************************************************************/

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cover {
    width: 30rem;
}

/********************************************************************** 
*                            PROJECT GRID 
**********************************************************************/

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.box {
    margin: 20px;
}

.box > img {
    width: 100%;
}

/********************************************************************** 
*                            TESTIMONIALS 
**********************************************************************/

.d-block {
    max-width: 90%;
}

/********************************************************************** 
*                               FOOTER
**********************************************************************/

footer {
    display:flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************
*  Yellow Background
**********************************************************************/
.yellow{
    background: #d6a94d; /* Old browsers */
    background: -moz-linear-gradient(top, #d6a94d 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6a94d), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6a94d 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6a94d 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6a94d 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #d6a94d 0%,#febf04 100%); /* W3C */
}